    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #1c1e26;
        --color01: #1c1e26;
        --color02: #1c1e26;
        --color03: #d5d8da;
        --color04: #e5e5e5;
        --color05: #e5e5e5;
        --color06: #e5e5e5;
        --color07: #e5e5e5;
        --color08: #e5e5e5;
        --color09: #fab795;
        --color10: #fab795;
        --color11: #29d398;
        --color12: #59e1e3;
        --color13: #26bbd9;
        --color14: #ee64ac;
        --color15: #fab795;
    }
