:root {
--color00: #1c1e26;
--color01: #1c1e26;
--color02: #1c1e26;
--color03: #d5d8da;
--color04: #e5e5e5;
--color05: #d5d8da;
--color06: #e5e5e5;
--color07: #e5e5e5;
--color08: #e95678;
--color09: #fab795;
--color0A: #fab795;
--color0B: #29d398;
--color0C: #59e1e3;
--color0D: #26bbd9;
--color0E: #ee64ac;
--color0F: #e95678;
}
